<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 sidebar">
            <button class="btn btn-warning btn-block">Homework</button>
            <button class="btn btn-warning btn-block">Freelance Projects</button>
            <button class="btn btn-warning btn-block">Exams</button>
            <button class="btn btn-warning btn-block">Lectures</button>
            <button class="btn btn-warning btn-block">Courses</button>
            <button class="btn btn-warning btn-block">Shop</button>
        </div>
        <div class="col-md-9 action" id="">
            <div id="availableFreelanceProjectsCointainer" class="panel panel-default">
                <h3>Freelance Projects Market</h3>
            </div>'
            <div id="myProjectsDiv" class="panel panel-default">
                <h3>My Projects</h3>
            </div>
        </div>
    </div>
</div>