<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 sidebar">
            <a href="#/homework" class="btn btn-warning btn-block">Homework</a>

            <a href="#/freelance-projects" class="btn btn-warning btn-block">Freelance Projects</a>

            <a href="#/exams" class="btn btn-warning btn-block">Exams</a>

            <a href="#/lectures" class="btn btn-warning btn-block">Lectures</a>

            <a href="#/courses" class="btn btn-warning btn-block">Courses</a>

            <a href="#/shop" class="btn btn-warning btn-block">Shop</a>

        </div>
        <div class="col-md-9 action" id="">
            <div id="availableFreelanceProjectsCointainer" class="panel panel-default">
                <h3>Freelance Projects Market</h3>
            </div>'
            <div id="myProjectsDiv" class="panel panel-default">
                <h3>My Projects</h3>
            </div>
        </div>
    </div>
</div>