<div class="well">
    You don't have account ?
</div>
<a href="#/login" class="btn btn-success btn-lg btn-block">Login</a>
<div class="well top-buffer">
    You already have account?
</div>
<a href="#/register" class="btn btn-warning btn-lg btn-block">Register</a>
<div class="jumbotron top-buffer">
    <h1>Jumbotron</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p><a href="#/aboutgame" class="btn btn-primary btn-lg">Learn more</a></p>
</div>
