<script type="text/html">
    <li>
        <p hidden>{{Id}}</p>
        <h3>{{Title}}</h3>
        <section>
            <p>{{Content}}</p>
            <p>
                Requiredments:
                Tatal energy cost: <span>{{EnergyCost}}</span>
                Experience: <span>{{RequireExperience}}</span>
                Solve Durabation: <span>{{SolveDurabationInHours}} hours</span>
                Active from: <span>{{OpenForTakenDatetime}}</span>
                Closed fot taken at: <span>{{CloseForTakenDatetime}}</span>
            </p>
            <p>
                Obtainments:
                Experience Gain: <span>{{ExperienceGain}}</span>
                Money Gain: <span>{{MoneyGain}}</span>
            </p>
        </section>
    </li>
</script>