<li>
    <p hidden id='projectId'>{{FreelanceProjectId}}</p>
    <h3>{{Title}}</h3>
    <section>
        <p>Info:{{Content}}</p>
        <p>
            <h5>Requiredments:</h5><br />
            <span>Tatal energy cost: {{EnergyCost}}</span><br />
            <span>Experience: {{RequireExperience}}</span><br />
            <span>Solve Durabation: {{SolveDurabationInHours}} hours</span><br />
            <span>Active from: {{OpenForTakenDatetime}}</span><br />
            <span>Closed fot taken at: {{CloseForTakenDatetime}}</span><br />
        </p>
        <p>
            <h5>Obtainments:</h5> <br />
            <span>Experience Gain: {{ExperienceGain}}</span><br />
            <span>Money Gain: {{MoneyGain}}</span>
        </p>
    </section>
</li>