<li>
    <p hidden id='projectId'>{{Id}}</p>
    <h3>{{Title}}</h3>
    <section>
        <p>Info:{{Content}}</p>
        <p>
            <h4>Current progress:</h4><br />
            <span>Finished: {{IsSolved}}</span><br />
            <span>Started at: {{StartDateTime}}</span><br />
            <span>Last worked at: {{LastWorkingDateTime}}</span><br />
            <span>Work progress: {{WorkPercentage}}</span><br />
            <span>Total progress: {{ProgressInPercentage}}</span><br />
        </p>
        <p>
            <h5>Requiredments:</h5><br />
            <span>Tatal energy cost: {{EnergyCost}}</span><br />
            <span>Experience: {{RequireExperience}}</span><br />
            <span>Solve Durabation: {{SolveDurabationInHours}} hours</span><br />
            <span>Active from: {{OpenForTakenDatetime}}</span><br />
            <span>Closed fot taken at: {{CloseForTakenDatetime}}</span><br />
        </p>
        <p>
            <h5>Obtainments:</h5> <br />
            <span>Experience Gain: {{ExperienceGain}}</span><br />
            <span>Money Gain: {{MoneyGain}}</span>
        </p>
    </section>
</li>